<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,516},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,940},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,976},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,940},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,914},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,878},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,842},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,806},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,988},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,988},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blink_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,850},{2,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,838},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,838},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,942},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,806},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,806},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,836},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,954},{62,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,36}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,806},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,836},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,806},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>font_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,982},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1000},{16,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>font_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,982},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,946},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,908},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,870},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,832},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,898},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,852},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,942},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{226,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{226,114}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,806},{192,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{192,42}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,836},{184,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{184,50}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,838},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdSprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7e8cb880b62f461eecbd48dc386ced7:02397976ccab1ef1a478d1d132903709:7ece7f05b56b1ac5fef83d07f50c948b$</string>
            <key>textureFileName</key>
            <string>birdSprites.png</string>
        </dict>
    </dict>
</plist>
