<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,1024}}</string>
                <key>sourceSize</key>
                <string>{576,1024}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,52},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,52},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,52},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{68,48}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdSprites.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ec6412b1b102eeeabf8624934ae119:5109130e350521fd48054d676a604b37:7ece7f05b56b1ac5fef83d07f50c948b$</string>
            <key>textureFileName</key>
            <string>birdSprites.png</string>
        </dict>
    </dict>
</plist>
