<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,270},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,256},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,256},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,266},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,256},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,264},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,234},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,230},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,240},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>blink_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,850},{2,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,216},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,174},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,226},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,196},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,82},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,106},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,46},{62,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,36}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,52},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,46},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,166},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>font_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,214},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{16,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>font_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,226},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,188},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,188},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,150},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,112},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,162},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,136},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,110},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,184},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,138},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,92},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,46},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>number_context_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,206},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,850},{2,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{2,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,196},{8,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,224},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,214},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,204},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,194},{8,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,184},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,186},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,174},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_score_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,40},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,166},{6,16}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{6,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,838},{10,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,838},{10,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,838},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{226,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{226,114}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{192,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{192,42}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,966},{184,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{184,50}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,850},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdSprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15951d0530b3917100625957a30c3f18$</string>
            <key>textureFileName</key>
            <string>birdSprites.png</string>
        </dict>
    </dict>
</plist>
